/* Chat.css */
.custom-scrollbar {
    overflow-y: auto;
    max-height: 400px; /* Set your desired max height */
    scrollbar-width: thin;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Set your desired scrollbar width */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Set your desired scrollbar color */
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #ddd; /* Set your desired scrollbar track color */
  }
  